@media (max-width: 990px){
    .body .left_section{
        display: none;
    }
    .body .right_section{
        flex-basis: 100%;
    }
    .body .right_section .inner_section{
        width: 100%;
        /* padding: 0px; */
        /* border: 1px solid; */
    }
    .side_nav,.s{
        display: none;
    }

    .top_section {
        justify-content: space-around;
    }
    
    .top_section .top_info #bars{
        display: flex;
    }
    .top_section .top_info .search{
        display: none;
    }
    

    
}


@media(max-width: 850px){
    .middle_info_contents{
        place-content: center;
        align-items: center;
        padding: 0px;
        flex-direction: column;
    }
    .middle_info_items{
        width: 50%;
        margin: 15px;
        /* width: 510%; */
        /* border: 1px solid; */
    }
    .logo i{
        display: flex;
    }

    .side_nav{
        width: 100%;
    }
    
}

@media(max-width: 750px){
    .middle_info_items{
        width: 80%;
    }
    .user_icon{
        display: none;
    }
    
    .category_inner .set1{
        flex-direction: column;
    }
    .category_inner .set1 .cate{
        width: 70%;
    }
    
    .setting .user_details{
        flex-direction: column;
        text-align: center;
    }
    
    .setting .user_form form{
        grid-template-columns: repeat(1,1fr);
    }

    .item_section table td:nth-of-type(4){
        grid-template-columns: repeat(1,1fr);
    }
    
    
}

@media (max-width: 450px) {
    .body .right_section .inner_section{
        padding: 25px;
    }

    .middle_info{
        padding: 10px;
    }
    .middle_info_text p{
        font-size: 20px;
    }
    
    .category_inner .category_title{
        flex-direction: column;   
    }
    /* .login_bottom{
        width: 100%;
    } */
}
